.paginator {
    @apply flex items-center justify-end mt-2;

    .numb {
        @apply w-[1.1875rem] h-[1.375rem] flex items-center justify-center rounded-md cursor-pointer text-xs text-black;
    }
}

.autocomplete-popper {
    margin: 0 !important;

    .MuiAutocomplete-listbox {
        @apply rounded-md p-0 shadow;
    }

    .MuiAutocomplete-option {
        @apply text-sm px-4 text-black h-[2.0625rem] cursor-pointer border-none;

        &:hover,
        &[data-focus="true"],
        &.Mui-focused {
            @apply text-white bg-blue-light #{!important};
        }
    }
}

.autocomplete-input {
    .MuiInput-underline:before,
    .MuiInput-underline:after,
    .MuiInput-underline:hover:before {
        border-bottom: none !important;
    }

    margin: 0 !important;

    input {
        @apply text-sm max-h-[2.3125rem] p-0 outline-none text-black;
    }

    .MuiInputBase-root {
        @apply outline-none border-none;
    }
}

.MuiAutocomplete-popupIndicator.Mui-disabled {
    display: none !important;
}
