@use "../../../../../index.scss" as *;

.preview {
    @apply flex items-center flex-col flex-1 bg-white pt-[2.5rem] relative min-h-0;

    &__pages {
        @apply relative flex flex-col items-center overflow-y-auto space-y-[2.5rem] py-2 pr-2 min-w-[33.125rem] w-full pt-8;

        & > :last-child {
            margin-top: 0.5rem !important;
        }
    }

    &__page {
        @apply relative bg-white shadow-card;

        &::after, &::before {
            @apply absolute top-0 left-0 w-full h-full;

            content: "";
        }

        &::before {
            background: linear-gradient(to right, $red, $red) no-repeat 0 (var(--mt) / 100%) 0.0625rem, linear-gradient(to right, $red, $red) no-repeat 0 (calc(100% - var(--mb)) / 100%) 0.0625rem;
        }

        &::after {
            background: linear-gradient(to bottom, $red, $red) no-repeat var(--ml) 0 / 0.0625rem 100%, linear-gradient(to bottom, $red, $red) no-repeat calc(100% - var(--mr)) 0 / 0.0625rem 100%;
        }
    }

    &__button {
        &--create {
            @apply bottom-[2.5rem] right-[2.375rem] max-w-[7.1875rem] absolute z-50;
        }
    }

    &__trash {
        @apply absolute top-0 -right-[3.25rem];
    }

    .draggable-trash {
        @apply absolute m-auto inset-0 left-[calc(100%+0.625rem)] w-8 h-8;
    }
}
